.joblist-headers{
  margin-bottom: 20px;
}

.joblist-headers div{
  font-weight: 800;
}

.joblist li{
  list-style-type: none;
}

.nav-bar{
  border-right: 1px solid #000000;
  height: 100vh;
  float: left;
  text-align: center;
  background: #E8E8E8;
}

.nav-bar a{
  font-size: 20px;
  padding: 20px;
  border-bottom: 1px #0a0a0a solid;
  display: block;
  color: #000;
}

.nav-bar .nav-link:first-child{
  background: #FDB32B;
}

.ui-container{
  float: left;
  padding: 20px;
}

@media (max-width: 800px) {
  .nav-bar a{
    font-size: 12px;
  }
}
